<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="text/html; charset=utf-8" />
    
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    <title>BIKER Search</title>
    
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/coming-sssoon.css" rel="stylesheet" />    
    
    <!--     Fonts     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    
</head>
<script type="text/javascript">
    function Search() {
        var query = document.getElementById("query1").value;
        if (query == ""|| query == undefined || query == null || query == "/") {
            return false;
        };
//         var num_query=new Array();
//         num_query = query.split(" ");
//         if (num_query.length < 4){
//             alert("Please confirm your query is a Java technical question!");
//             return false;
//         };
        document.getElementById("form1").submit();
        return true;
    }
    
    function getKey(){
    	if(event.keyCode==13){
            Search();
        }
	}
</script>
    
<body>
<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">  
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li class="dropdown">
              <a href="#"> 
                <i class="fa fa-home"></i>
                BIKER
              </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
             <li>
                <a href="#"> 
                    <i class="fa fa-envelope-o"></i>
                    Email
                </a>
            </li>
       </ul>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<div class="main" style="background-image: url('/static/images/default.jpg')">
    
    <div class="cover black" data-color="black"></div>
     
<!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

    <div class="container">
        <h1 class="logo cursive">
            BIKER Search
        </h1>
        
        <div class="content">
            <h4 class="motto">API Method Recommendation without Worrying about the
Task-API Knowledge Gap.</h4>
            <div class="subscribe">
                <div class="row">
                    <div class="col-md-12 col-sm-6">
                        <form role="form" action="/index" method="post" id ="form1" >
                          <center><div class="form-group input-group-lg" style="width:60%">
                            <label class="sr-only" for="exampleInputEmail2">query</label>
                            <input type="text" class="form-control transparent" placeholder="Your query here..." name="query" value="" id="query1" onkeypress="getKey();">
                            <input style='display:none' />
                          </div></center>
                          <br>
                          <center><input type="button" class="btn btn-danger btn-fill btn-lg" value="Search" onclick="Search()"></center>
                        </form>

                    </div>
                </div>
            </div>
            <div class="col-md-12 col-md-offset-2">
            <br><br><br>
            <h4 style="color:white">EXAMPLE: </h4>
            <p style="color:white">Resolving ip-address of a hostname?</p>
            <p style="color:white">How to make a list thread-safe for serialization?</p>
            <p style="color:white">How to check whether a class exists?</p>
            <p style="color:white">Is there any way to fnd os name using java?</p>
            <p style="color:white">Java Fastest way to read through text fle with 2 million lines?</p>
            </div>
        </div>
    </div>
    <div class="footer">
      <div class="container">
             Tool demo for BIKER, by why.
      </div>
    </div>
 </div>
 </body>
   <script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
   <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>

</html>